body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.top {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    
}

.display {
    height: 20px;
    width: 194px;
    text-align: center;
    border-style: groove;
    margin-left: 70px;
}

.clear {
    width: 40px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottom {
    display: flex;
    justify-content: center;
    width: 400px;
}

.numbers {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    height: 40px;
    width: 33%;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.operator {
    width: 40px;
    height: 30px;
}